@use '../scss/base/reset.scss' as *;
@use '../scss/base/typography.scss' as *;
@use '../scss/utils/shared.scss' as *;



body{
  --clr-auxiliar: #BDBDBD;
  display: grid;
  font-family: 'Montserrat';
  color: var(--negro);
  background-color: var(--whitePlus);
  color: var(--blackPlus);
  padding: rem(16);
  max-width: rem(969);
  margin-inline: auto;
}

:where(h1,h2,h3){
  font-family: 'PlayfairDisplay', serif;
}

.header{
  margin-top: 2rem;
  .header-title{
    font-size: rem(24);
    font-weight: 700;
    line-height: rem(31.99);
    text-align: center;
    @media screen and (min-width: rem(1000)){
      font-size: rem(48);
      line-height: rem(63.98);
      text-align: left;
    }
  }
}

.main{
  display: grid;
  gap: 2rem;
  @media screen and (min-width: rem(1000)){
    gap: 3rem;
  }
  
  .container{

    @media screen and (min-width: rem(1000)){
      font-size: rem(14);
      line-height: rem(17);
    }
    &-content{
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: rem(16);
      padding: 1rem 0;
    }

    &-icon{
      width: rem(16);
      aspect-ratio: 4/3;
      object-fit: contain;

    }

    &-description{
      font-size: rem(12);
      font-weight: 500;
      font-style: italic;
      line-height: rem(16);
      max-width: rem(585);
    }
  
    &-img{
      max-width: rem(969);
      margin-top: rem(16);
      border-radius: rem(12);
      aspect-ratio:8/5;
      object-fit: cover;
      object-position: bottom;

      @media screen and (min-width: rem(1000)){
        height: rem(470);
        object-fit: fill;
      }  
    }
  }
  //component card
  .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: self-start;
    gap: 2rem 1rem;
    @media screen and (min-width: rem(1000)){
      grid-area: 2/1/3/2;
      grid-template-columns: 1fr;
      justify-self: end;
      place-items: center;
      gap: 0;
      width: rem(216);
      height: rem(367);
      padding: 2rem 0;
      border-radius: rem(12);
      box-shadow: 0px 0px 15px 0px #0000001A;

      @media (prefers-color-scheme: dark) {
        box-shadow: 0px 0px 20px 0px #ffffff6b;
      }
    }

    &-item{
      display: grid;
      grid-template-columns: min-content, max-content;
      gap: 0 .5rem;
      @media screen and (min-width: rem(1000)) {
        width: rem(120);
        justify-content: flex-start;
      }

      &:nth-of-type(1) .card-extraData{
        color: map-get($colors, primary );
      }
      &:nth-of-type(2){
        grid-area: 2/1/3/2;
        @media screen and (min-width: rem(1000)){
          grid-area: initial;
        }
      }
      &:nth-of-type(3){
        grid-area: 2/2/3/3;
        @media screen and (min-width: rem(1000)){
          grid-area: initial;
        }
      }
      &:nth-of-type(4){
        grid-area: 2/3/3/4;
        @media screen and (min-width: rem(1000)){
          grid-area: initial;
        }
      }
    }

    &-icon{
      grid-row: 1/3;
      grid-column: 1/2;
      width: rem(20);
      aspect-ratio: 1/1;
      align-self: center;
      @media screen and (min-width: rem(1000)){
        width: rem(27);
      }
    }

    &-indication{
      grid-column: 2/3;
      grid-row: 1/2;
      font-size: rem(8);
      text-transform: uppercase;
      font-weight: 700;
      line-height: rem(9.75);
      color: var(--clr-auxiliar);
      @media screen and (min-width: rem(1000)){
        font-size: rem(10);
        line-height: rem(12.19);
      }
    }
    
    &-extraData{
      font-size: rem(10);
      grid-column: 2/3;
      grid-row: 2/3;
      font-weight: 500;
      @media screen and (min-width: rem(1000)){
        font-size: rem(14);
        line-height: rem(17.7);
      }
    }
  }

  //component recipe
  .recipe{
    @media screen and (min-width: rem(1000)){
      grid-area: 2/1/3/2;
    }
    
    &-title{
      font-size: rem(18);
      font-weight: 700;
      line-height: rem(24);
      @media screen and (min-width: rem(1000)){
        font-size: rem(24);
        line-height: rem(31.99);
      }
    }

    &-ingredients{
      display: grid;
      gap: 2rem;
    }

    .list{
      &-subTitle{
        font-size: rem(16);
        font-weight: 400;
        font-style: italic;
        line-height: rem(21.33);
        padding: 1rem 0;
        @media screen and (min-width: rem(1000)){
          font-size: rem(18);
          line-height: rem(23.99);
        }
      }

      &-ingredients{
        display: grid;
        gap: .5rem;
      }

      &-item{
        font-size: rem(13);
        font-weight: 400;
        line-height: rem(25);
        @media screen and (min-width: rem(1000)){
          font-size: rem(16);
          line-height: rem(25);
        }
      }

      &-label{
        display: grid;
        grid-template-columns: min-content auto;
        gap: .7rem;
        align-items: self-start;
      }

      &-check{
        transform: scale(1.3) translateY(0.2rem);
        accent-color: map-get($colors, primary );

        @media screen and (min-width: rem(1000)){
          transform: scale(1.4) translateY(0.2rem);
        }
      }

      &-details{
        max-width: rem(529);

        strong{
          font-weight: 700;
        }
      }
    }
  }

  .instructionsContainer{

    &-header{

    }

    &-title{
      font-size: rem(24);
      font-weight: 700;
      line-height: rem(31.99);
      padding: 1rem 0;
      @media screen and (min-width: rem(1000)){
        padding-bottom: 2rem;
      }

    }
    
    .listSteps{
      display: grid;
      gap: 1.5rem;
      justify-items: flex-start;

      &-step{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
      }

      &-index{
        width: rem(36);
        height: rem(36);
        display: grid;
        place-items: center;
        font-family: 'PlayfairDisplay', serif;
        font-size: rem(24);
        font-weight: 700;
        line-height: rem(31.99);
        background-color: map-get($colors , primary );
        color: #fff;
        border-radius: rem(6);
        transform: translateY(-.2rem);

        div{
          transform: translateY(-.2rem);
        }
      }

      &-description{
        max-width: rem(529);
        font-size: rem(16);
        font-weight: 400;
        line-height: rem(22);
      }

      &-bold{
        font-weight: 700;
      }
    }
  }

  .reference{
    display: flex;
    flex-flow: row wrap;
    font-weight: 400;
    font-style: italic;
    font-size: rem(12);
    line-height: rem(18);
    margin-inline: auto;
    color: #BDBDBD;
    gap: 0 .2rem;
    padding: 2rem 0;
    @media screen and (min-width: rem(1000)){
      font-size: rem(12);
      line-height: rem(24);
      padding: 2rem 0;
    }

    &-link{
      &:hover{
        color: map-get($colors, primary )
      }
    }
  }
}

.footer{
  padding: 2rem 0 0 0;
  grid-row: 8/9;
  text-align: center;

  &-info{
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 500;
  }
  
  &-autor{
    color: var(--negro);
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  svg {
    fill: #00FF00; /* Color verde */
  }
}