@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  --blanco:#ececec;
  --whitePlus: #fff;
  --blackPlus: #000;
  /* Tipografía */
  --tipo-principal: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco:#393939;
    --whitePlus: #000;
    --blackPlus: #fff;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

input[type=checkbox] {
  display: initial;
  appearance: auto;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  font-family: var(--tipo-principal);
  text-rendering: optimizeLegibility;
  color: var(--negro);
  /* (Opcional) */
  /* (Opcional) */
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/assets/fonts/PlayfairDisplay/PlayfairDisplay-normal.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("/assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic-.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 1000;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-normal.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 1000;
  font-style: italic;
}
/*
Example:
body{
  font-size: rem(32);
}
*/
/*
Example:
main{
  @include flex(flex, row, wrap, space-around, center, 1rem);
}
*/
body {
  --clr-auxiliar: #BDBDBD;
  display: grid;
  font-family: "Montserrat";
  color: var(--negro);
  background-color: var(--whitePlus);
  color: var(--blackPlus);
  padding: 1rem;
  max-width: 60.5625rem;
  margin-inline: auto;
}

:where(h1, h2, h3) {
  font-family: "PlayfairDisplay", serif;
}

.header {
  margin-top: 2rem;
}
.header .header-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.999375rem;
  text-align: center;
}
@media screen and (min-width: 62.5rem) {
  .header .header-title {
    font-size: 3rem;
    line-height: 3.99875rem;
    text-align: left;
  }
}

.main {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 62.5rem) {
  .main {
    gap: 3rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .main .container {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}
.main .container-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  padding: 1rem 0;
}
.main .container-icon {
  width: 1rem;
  aspect-ratio: 4/3;
  object-fit: contain;
}
.main .container-description {
  font-size: 0.75rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1rem;
  max-width: 36.5625rem;
}
.main .container-img {
  max-width: 60.5625rem;
  margin-top: 1rem;
  border-radius: 0.75rem;
  aspect-ratio: 8/5;
  object-fit: cover;
  object-position: bottom;
}
@media screen and (min-width: 62.5rem) {
  .main .container-img {
    height: 29.375rem;
    object-fit: fill;
  }
}
.main .card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: self-start;
  gap: 2rem 1rem;
}
@media screen and (min-width: 62.5rem) {
  .main .card {
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr;
    justify-self: end;
    place-items: center;
    gap: 0;
    width: 13.5rem;
    height: 22.9375rem;
    padding: 2rem 0;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1019607843);
  }
}
@media screen and (min-width: 62.5rem) and (prefers-color-scheme: dark) {
  .main .card {
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4196078431);
  }
}
.main .card-item {
  display: grid;
  grid-template-columns: min-content, max-content;
  gap: 0 0.5rem;
}
@media screen and (min-width: 62.5rem) {
  .main .card-item {
    width: 7.5rem;
    justify-content: flex-start;
  }
}
.main .card-item:nth-of-type(1) .card-extraData {
  color: #F2994A;
}
.main .card-item:nth-of-type(2) {
  grid-area: 2/1/3/2;
}
@media screen and (min-width: 62.5rem) {
  .main .card-item:nth-of-type(2) {
    grid-area: initial;
  }
}
.main .card-item:nth-of-type(3) {
  grid-area: 2/2/3/3;
}
@media screen and (min-width: 62.5rem) {
  .main .card-item:nth-of-type(3) {
    grid-area: initial;
  }
}
.main .card-item:nth-of-type(4) {
  grid-area: 2/3/3/4;
}
@media screen and (min-width: 62.5rem) {
  .main .card-item:nth-of-type(4) {
    grid-area: initial;
  }
}
.main .card-icon {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 1.25rem;
  aspect-ratio: 1/1;
  align-self: center;
}
@media screen and (min-width: 62.5rem) {
  .main .card-icon {
    width: 1.6875rem;
  }
}
.main .card-indication {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.609375rem;
  color: var(--clr-auxiliar);
}
@media screen and (min-width: 62.5rem) {
  .main .card-indication {
    font-size: 0.625rem;
    line-height: 0.761875rem;
  }
}
.main .card-extraData {
  font-size: 0.625rem;
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 500;
}
@media screen and (min-width: 62.5rem) {
  .main .card-extraData {
    font-size: 0.875rem;
    line-height: 1.10625rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .main .recipe {
    grid-area: 2/1/3/2;
  }
}
.main .recipe-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
}
@media screen and (min-width: 62.5rem) {
  .main .recipe-title {
    font-size: 1.5rem;
    line-height: 1.999375rem;
  }
}
.main .recipe-ingredients {
  display: grid;
  gap: 2rem;
}
.main .recipe .list-subTitle {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.333125rem;
  padding: 1rem 0;
}
@media screen and (min-width: 62.5rem) {
  .main .recipe .list-subTitle {
    font-size: 1.125rem;
    line-height: 1.499375rem;
  }
}
.main .recipe .list-ingredients {
  display: grid;
  gap: 0.5rem;
}
.main .recipe .list-item {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
@media screen and (min-width: 62.5rem) {
  .main .recipe .list-item {
    font-size: 1rem;
    line-height: 1.5625rem;
  }
}
.main .recipe .list-label {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.7rem;
  align-items: self-start;
}
.main .recipe .list-check {
  transform: scale(1.3) translateY(0.2rem);
  accent-color: #F2994A;
}
@media screen and (min-width: 62.5rem) {
  .main .recipe .list-check {
    transform: scale(1.4) translateY(0.2rem);
  }
}
.main .recipe .list-details {
  max-width: 33.0625rem;
}
.main .recipe .list-details strong {
  font-weight: 700;
}
.main .instructionsContainer-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.999375rem;
  padding: 1rem 0;
}
@media screen and (min-width: 62.5rem) {
  .main .instructionsContainer-title {
    padding-bottom: 2rem;
  }
}
.main .instructionsContainer .listSteps {
  display: grid;
  gap: 1.5rem;
  justify-items: flex-start;
}
.main .instructionsContainer .listSteps-step {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}
.main .instructionsContainer .listSteps-index {
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  font-family: "PlayfairDisplay", serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.999375rem;
  background-color: #F2994A;
  color: #fff;
  border-radius: 0.375rem;
  transform: translateY(-0.2rem);
}
.main .instructionsContainer .listSteps-index div {
  transform: translateY(-0.2rem);
}
.main .instructionsContainer .listSteps-description {
  max-width: 33.0625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
}
.main .instructionsContainer .listSteps-bold {
  font-weight: 700;
}
.main .reference {
  display: flex;
  flex-flow: row wrap;
  font-weight: 400;
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-inline: auto;
  color: #BDBDBD;
  gap: 0 0.2rem;
  padding: 2rem 0;
}
@media screen and (min-width: 62.5rem) {
  .main .reference {
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding: 2rem 0;
  }
}
.main .reference-link:hover {
  color: #F2994A;
}

.footer {
  padding: 2rem 0 0 0;
  grid-row: 8/9;
  text-align: center;
}
.footer-info {
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 500;
}
.footer-autor {
  color: var(--negro);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  svg {
    fill: #00FF00; /* Color verde */
  }
}

/*# sourceMappingURL=style.css.map */
